h4 {
  margin-top: 25px;
}
.row {
  // margin-bottom: 20px;
  // margin: 0px 20px;
  padding: 5px 0px;
}
.row .row {
  // margin-top: 10px;
  margin-bottom: 0;
}
// [class*="col-"] {
//   padding: 20px 40px;
//   // padding: 15px 15px;
// }

.row.image-block {
	margin: 20px 0px;
}

.row.intro-block {
	margin: 50px 0 0 0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
